body{
  background-color: rgb(122, 122, 122);
}
strong{
  color: rgb(0, 110, 255);
  font-size:  25pt;
  text-transform: capitalize;
}
#content{
  margin-top: 3px;
  overflow-y: auto;
  padding: 10px;
  padding-left: 30px;
  height: calc(100% - 90px);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.card{
  background-color: rgb(209, 208, 208);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px;
  width: 1000px;
  height: 80vh;
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
}
.centered-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.search-input{
  width: 100%;
  height: 40px;
  max-width: 500px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 15pt;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(209, 208, 208);
  text-align: center;
  
}
.centered-search{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
}
green{
  color: rgb(35, 134, 52);
}
magenta{
  color: rgb(0, 150, 150);
}
red{
  color: rgb(210, 0, 0);
}

strong, green, magenta, red{
  display: block;
}